{% extends 'base.html' %}
{% block page_title %}Password Reset Page{% endblock %} 
{% block page_heading %}Reset Password{% endblock %}

{% block content %}

<form method='POST'>
    <p>Please enter your new password and confirm</p>

    {% csrf_token %} 
    {{ form.email.errors }}

    <p>
        <label for="id_password1">New Password:</label> {{ form.password1 }}
        <input type='password' name='password1'>
        
        <label for="id_password2">Confirm Password:</label> {{ form.password2 }}
        <input type='password' name='password2'>
    
        <input type='submit' value='Reset Password' >
    
    </p>
</form>
{% endblock %}